@import "../styles/variables";

.dashboard {
  background: $bg-color;
  // min-height: 100vh;
  padding: 2rem;

  h2 {
    color: $text-color;
    margin-bottom: 1rem;
  }

  p {
    color: $muted-color;
  }

  .list-group {
    .list-group-item {
      background: $card-bg;
      border: none;
      border-radius: $border-radius;
      box-shadow: $shadow;
      margin-bottom: 1rem;
      padding: 1.25rem;
      transition: all 0.3s;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
      }

      span {
        color: $accent-color;
        font-weight: 500;
      }
    }
  }
}
