.add-plan {
  button {
    border-radius: 8px;
  }

  form {
    input {
      border-radius: 6px;
    }
  }
}

.card {
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 145px;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
}

.modal-backdrop {
  opacity: 0.5 !important;
}
