@import "../styles/variables";

.navbar {
  background: $navbar-bg;
  box-shadow: $shadow;

  .navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    color: $text-color;

    &:hover {
      color: darken($text-color, 10%);
    }
  }

  .nav-link {
    color: $text-color;
    margin-left: 1rem;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}
